/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/vendor
/storage/app/public/avatars
/bootstrap/cache
/public/avatars/*
!/public/avatars/.gitkeep

.env
.env.backup

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/.idea
/.vscode

.DS_Store
Thumbs.db

# Laravel Specific
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
/public/productImages/
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
